<h1>Hi there</h1>

<%= form_for @guest do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :head_count %>
  <%= f.text_field :head_count %>

  <%= f.submit %>

<% end %>
