<h1>Justin and Abigail</h1>
<h2>RSVP</h2>

<hr>

<%= form_for @guest do |f| %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= label_tag :attending, 'Will you be attending?', class: 'attending' %>
    <div class='yes_no'>
      <%= f.radio_button :attending, 1 %>
      <%= label_tag 'guest_attending_1', 'Yes', class: 'yes', id: 'yes' %>
      <%= f.radio_button :attending, 0 %>
      <%= label_tag 'guest_attending_0', 'No', class: 'no', id: 'no' %>
      <%= f.text_field :head_count, placeholder: 'Number attending', style: 'display: none;' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </div>

  <hr>

  <%= f.submit 'Submit' %>

<% end %>

<script>
  new RsvpForm()
</script>
