<h1>RSVP</h1>

<%= form_for @guest do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :head_count %>
    <%= f.text_field :head_count %>
  </div>

  <hr>

  <%= f.submit 'Submit' %>

<% end %>
